// 单行文本 超出 省略号
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
   text-overflow: ellipsis;
}
@mixin fix-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: .5rem;
}

@mixin title {
    line-height: .44rem;
    background: $bgColor;
    font-size: .16rem;
    color: $content-fontColor;
    text-align: center;
}

@mixin empty {
  margin-top: .5rem;
  line-height: .5rem;
  text-align: center;
  font-size: .16rem;
  color: $light-fontColor;
}