$dark-fontColor: #000;
$content-fontColor:#333;
$medium-fontColor:#666;
$light-fontColor:#999;
$content-bgColor:#f1f1f1;
$content-notice-fontColor:#777;
$search-bgColor:#f5f5f5;
$search-fontColor:#b7b7b7;
$backIconColor:#b6b6b6;
$hightlight-fontColor:#E93B3B;
$btn-bgColor:#0091FF;
$bgColor: #FFF;
$iconColor:#4FB0F9;
$darkBgColor: #f8f8f8;





